body.post-type-donation {
    #post-body-content,
    #titlediv {
        display: none;
    }

    .closed {
        .inside {
            display: block;
        }
    }

    .donation-banner-wrapper {
        float: left;
        width: 100%;
        background: #f8f8f8;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .donation-banner {
        position: relative;
        padding: 12px 20px;

        .donation-edit-link {
            position: absolute;
            top: 12px;
            right: 20px;
        }

        .donation-number {
            margin: 0;
            padding: 0;
            font-size: 1.3em;
        }
    }

    .donation-erasure-notice-wrapper {
        float: left;
        width: 100%;
    }

    .donation-erasure-notice {
        padding: 12px 20px;
        border-bottom: 1px solid #e5e5e5;
        font-style: italic;
    }

    @include bp(1120) {
        #poststuff #post-body.columns-2 {
            margin-right: 340px;

            #postbox-container-1 {
                margin-right: -340px;
                width: 320px;

                #side-sortables {
                    width: 100%;
                }
            }
        }
    }
}

#donation-overview {
    .charitable-metabox {
        @include clearfix;
    }

    .postbox-title,
    .hndle {
        display: none;
    }

    .inside {
        margin: 0;
        padding: 0;
    }

    #donor {
        float: left;
        padding: 20px 10px 40px 20px;
        width: 300px;
        max-width: 67%;
    }

    .donor-name {
        font-weight: normal;
    }

    h3 {
        margin: 0 0 0.5em;
        padding: 0;
        font-size: 1.3em;
    }

    #donation-summary {
        float: right;
        padding: 20px 20px 40px 0;
        max-width: 33%;
        text-align: right;
    }

    .donation-status {
        display: block;
        margin-bottom: 6px;
    }

    .donation-status .status,
    .contact-consent .consent {
        font-weight: bolder;
    }

    table#overview {
        float: left;
        width: 100%;
        border-spacing: 0;

        thead th {
            padding: 0 0 0.8em;
        }

        .col-campaign-name {
            padding-left: 20px;
            text-align: left;
        }

        .col-campaign-donation-amount {
            padding-right: 20px;
            text-align: right;
        }

        tbody td {
            padding: 2em 0;
            border-top: 1px solid #e5e5e5;
        }

        tbody tr:last-child td {
            border-bottom: 1px solid #e5e5e5;
        }

        .campaign-name {
            padding-left: 20px;
            font-size: 18px;
        }

        .campaign-donation-amount {
            padding-right: 20px;
            font-size: 16px;
            text-align: right;
        }

        tfoot td,
        tfoot th {
            padding: 0.6em 20px 0.6em 0;
            background-color: #f8f8f8;
            text-align: right;
        }

        tfoot tr:first-of-type td,
        tfoot tr:first-of-type th {
            padding-top: 1.2em;
        }

        tfoot tr:last-of-type td,
        tfoot tr:last-of-type th {
            padding-bottom: 1.2em;
        }
    }
}

#donation-actions {
    .inside {
        padding: 0;
    }

    .postbox-title {
        padding: 20px 20px 12px 20px;
    }
}

#donation-details,
#donation-log {
    padding: 12px 8px;
}

#donation-details {
    dt {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    dd {
        margin: 0 0 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #e5e5e5;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

#donation-log {
    table {
        word-break: break-all;
    }
    thead th {
        background: #f8f8f8;

        &:first-child {
            width: 200px;
        }
    }

    tbody td {
        border-bottom: 1px solid #e5e5e5;
    }
}

/* Donation Form */
.post-type-donation.charitable-admin-donation-form {
    #postbox-container-2 {
        margin-bottom: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        background: #fff;
    }

    .charitable-metabox-wrap {
        margin-bottom: 24px;

        &.charitable-fieldset-wrap {
            margin-bottom: 0;
        }
    }

    #donation-form {
        border: none;
        background: transparent;
        box-shadow: none;

        .postbox-title {
            display: none;
        }

        .inside {
            padding: 0;
            margin: 0;

            > .charitable-form-fields {
                clear: both;
                padding: 20px;
            }
        }

        .charitable-form-fields {
            > h3:first-of-type {
                margin-top: 0;
            }

            > .charitable-metabox-wrap:not(.charitable-fieldset-wrap) {
                margin-bottom: 24px;
            }
        }
    }

    #donation-form-meta {
        padding: 24px 12px 12px;
    }
}

#charitable-campaign-donations thead th {
    background: #f5f5f5;
}

#charitable-user-fields-wrap {
    width: 100%;

    &.loading-data {
        .charitable-overlay {
            display: block !important;
            text-align: center;
        }
        > *:not(.charitable-overlay) {
            display: none;
        }
    }

    #charitable-first-name-wrap,
    #charitable-last-name-wrap {
        width: 48%;
    }

    #charitable-first-name-wrap {
        padding-right: 4%;
    }

    #charitable-postcode-wrap {
        width: 26%;
        padding-right: 4%;
    }

    #charitable-country-wrap {
        width: 70%;
        clear: right;
    }
}