.post-type-campaign .postbox-title {
    border-bottom: 1px solid #eee;
}

#campaign-title,
#campaign-goal,
#campaign-end-date,
#campaign-description {
    @include charitable_metabox();
}

/* --- Top campaign meta boxes --- */

#campaign-sortables,
#campaign-top-sortables {
    padding-top: 20px;

    #campaign-goal,
    #campaign-end-date {
        float: left;
        width: 48%;
    }

    #campaign-goal {
        padding-right: 4%;
    }

    #campaign-description {
        clear: both;
    }

    @include bp(600, false) {
        #campaign-goal,
        #campaign-end-date {
            width: 100%;
            padding: 0 0 24px;
        }

        #campaign-end-date {
            .charitable-end-time {
                padding-bottom: 14px;
            }
        }
    }
}


/* --- End Date --- */

#charitable-campaign-end-date-metabox-wrap {
    position: relative;

    .charitable-end-time {
        position: absolute;
        right: 0;
        top: 2px;
        width: 80px;
        padding: 14px 10px;
        border-left: 1px solid rgba( 0, 0, 0, 0.07 );
        box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
        background: #f5f5f5;
        text-align: center;

        @include bp(782) {
            padding-bottom: 13px;
        }
    }
}

#campaign-end-date.postbox {
    #charitable-campaign-end-date-metabox-wrap {
        label {
            border: 0;
            clip: rect(1px, 1px, 1px, 1px);
            -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            word-wrap: normal !important;
        }
    }
}

/* --- Advanced Metabox --- */

#campaign-settings {
    .postbox-title {
        border-bottom-color: #dedede;
    }

    .inside {
        margin: 0;
        padding: 0;
    }

    .ui-tabs {
        @include clearfix;
        clear: both;
        padding: 0;
        background-color: #f5f5f5;
        border: none;
        border-radius: 0;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;

        .wp-editor-expand #wp-content-editor-tools {
            background-color: transparent;
        }
    }

    .ui-tabs-nav {
        float: left;
        width: 20%;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        line-height: 1em;
        height: auto;

        li {
            position: relative;
            top: 0;
            display: block;
            width: 100%;
            float: none;
            background: none;
            margin: 0;
            padding: 0 1px 0 0;
            border: 0;
            white-space: normal;
        }

        a {
            display: block;
            float: none;
            padding: 10px;
            color: #747474;
            text-decoration: none;
            border: none;
            text-shadow: none;
            margin: 0;
            font-weight: normal;
        }

        li.ui-tabs-active {
            z-index: 2;
            margin-right: -2px;
            border-top: 1px solid #dedede;
            border-bottom: 1px solid #dedede !important;
            background-color: #fff;
        }

        li:first-child {
            border-top-color: 1px solid #dedede;
        }

        li.ui-tabs-active:first-child {
            border-top-color: transparent;
        }

        li:last-child {
            margin-bottom: 10px;
            border-bottom-color: transparent;
        }
    }

    .ui-tabs-panel {
        clear: none;
        box-sizing: border-box;
        float: right;
        width: 80%;
        padding: 20px;
        margin: 0;
        border-left: 1px solid #dedede;
        border-top: 0;
        background-color: #fff;
    }

    #wp-content-editor-tools {
        padding-top: 0;
    }
}

.charitable-campaign-settings-panel {
    .charitable-metabox-header:first-child {
        margin-top: 0;
    }
}

/* --- Suggested Donations --- */

#charitable-campaign-suggested-donations {
    .amount-col {
        width: 100px;
        min-width: 35%;
    }
}

/* --- Benefactors --- */

.charitable-benefactor-wrap {
    padding: 0 10px 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    background: #f5f5f5;

    select {
        width: 100%;
    }
}

.charitable-benefactor-summary {
    @include clearfix;
    .summary {
        float: left;
        width: 82%;
    }

    .alignright {
        float: right;
        width: 18%;
        text-align: right;
    }
}

.charitable-benefactor-form-cancel {
    float: right;
    margin-top: 10px;
}

.charitable-benefactor-contribution-amount {
    margin-bottom: 10px;

    .contribution-amount {
        margin-bottom: 10px;
        font-size: 16px;
    }

    @include bp(680) {
        border: 1px solid #ddd;
        background-color: #fff;

        .contribution-amount {
            width: auto;
            min-width: 220px;
            margin: 1px;
            border: none;
            box-shadow: none;
        }

        .contribution-type {
            float: right;
            margin: 10px;
            width: auto;
        }

        input:focus,
        select:focus {
            box-shadow: none;
        }
    }
}

.charitable-benefactor-date-wrap {
    margin-top: 10px;

    label {
        float: left;
        width: 49%;
    }

    label:nth-child(2n+2) {
        margin-left: 2%;
    }

    input {
        margin: 1em 0;
        font-weight: normal;
    }
}

.charitable-benefactor-inactive,
.charitable-benefactor-expired {
    background-color: #f5f5f5;

    .summary span {
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 8px;
        color: #f89d35;
    }
}

/* --- Campaign Creator --- */

#campaign-creator {
    .creator-facts {
        .creator-name {
            padding: 0;
            a {
                color: #333;
                text-decoration: none;
            }
        }

        dt {
            display: inline-block;
            font-weight: bold;
        }

        dd {
            display: inline-block;
        }
    }
}

#charitable-post-author-wrap {
    padding-top: 24px;
    margin-top: 12px;
    border-top: 1px solid #e1e1e1;
}