@mixin charitable_metabox() {
    &.postbox {
        min-width: 0;
        padding: 0 0 24px 0;
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;

        .inside {
            margin-top: 0;
            padding: 0;
        }
    }

    .postbox-title {
        padding: 0 0 6px 0;
    }

    .handlediv {
        display: none;
    }

    .hndle {
        padding-left: 0;
    }

    input,
    textarea {
        padding: 14px 10px;
        width: 100%;
    }

    select {
        width: 100%;
    }

    input[type=checkbox],
    input[type=radio],
    input[type=button],
    input[type=submit] {
        width: auto;
    }

    .charitable-metabox-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 6px;
    }

    .widefat {
        th {
            font-size: 13px;
        }

        tbody th {
            width: 33%;
            border-right: 1px solid #e1e1e1;
            background: #f5f5f5;
        }

        .remove-col,
        .reorder-col {
            vertical-align: middle;
            text-align: center;

            span {
                font-size: 20px;
                color: #aaa;

                &:hover {
                    color: #444;
                }
            }
        }

        .reorder-col {
            width: 10px;
            padding-right: 0;

            span {
                cursor: move;
            }
        }

        .remove-col {
            width: 20px;
            padding-left: 0;

            span {
                cursor: pointer;
            }
        }

        .ui-sortable-helper {
            border: 1px solid #ddd;
            background: #efefef;
        }
    }

    .table-header {
        background: #f5f5f5;

        label {
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    .charitable-metabox-header {
        margin: 24px 0;
    }

    .inside > .charitable-metabox-header:first-child {
        margin-top: 0;
    }
}

.charitable-metabox {
    @include charitable_metabox();
}

.charitable-metabox-header {
    float: left;
    width: 100%;
}

.charitable-metabox-wrap {
    width: 100%;
    float: left;
    margin-bottom: 24px;

    .charitable-helper {
        display: block;
        padding-top: 6px;
        font-style: italic;
    }

    label,
    legend {
        display: block;
        margin-bottom: 6px;
    }

    th label {
        margin-bottom: 0;
    }

    input,
    textarea {
        width: 100%;
        padding: 14px 10px;
    }

    select {
        width: 100%;
        padding: 0 10px;
        height: 46px;
        line-height: 46px;
    }

    input[type=checkbox],
    input[type=radio] {
        width: auto;
    }

    &.charitable-radio-wrap,
    &.charitable-multi-checkbox-wrap {
        margin-bottom: 14px;
    }

    .charitable-radio-list {
        li {
            display: block;
        }

        label {
            vertical-align: baseline;
        }
    }
}

.charitable-checkbox-wrap {
    label {
        display: inline;
    }
}

.charitable-checkbox-list,
.charitable-radio-list {
    label {
        display: inline-block;
    }

    li {
        margin-bottom: 10px;
    }
}

.charitable-radio-list {
    label {
        margin-bottom: 0;
        vertical-align: text-bottom;
    }
}

.charitable-metabox-block {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
}

body.post-type-donation,
body.post-type-campaign {
    .postbox-container .empty-container {
        border: none;
        height: auto;
    }
}

.charitable-actions-form {
    padding: 0 20px 20px 20px;
}

.charitable-actions-submit {
    background-color: #f8f8f8;
    padding: 12px;
    border-top: 1px solid #e5e5e5;

    .button-primary {
        float: right;
    }
}

.charitable-action-fields {
    margin-top: 20px;
}

@import 'metaboxes-campaign';

@import 'metaboxes-donation';