.donors-list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;    

    .donor {
        @include clearfix;
        list-style: none;
        padding: 1em 0;
        
        .avatar {
            margin: 0;
        }

        .donor-name {
            font-weight: bold;
        }

        .donor-name, 
        .donor-location, 
        .donor-donation-amount {
            margin: 0.5em 0 0 0;
        }

        > *:first-child {
            margin-top: 0;
        }
    }

    &.donors-list-horizontal {
        .donor {
            display: inline-block;
            padding: 0 20px 1em 0;
            width: 100px;
            vertical-align: top;
        }
    }

    &.donors-list-vertical {
        .donor {
            border-bottom: 1px solid #e6e6e6;
        }
    }
}