.charitable-button {
    cursor: pointer;
}

.charitable-form-field {
    margin-bottom: 1em;

    label {
        display: block;
        margin-bottom: 4px;
    }

    input,
    select,
    textarea {
        width: 100%;
    }

    button,
    input[type=submit],
    input[type=button],
    input[type=radio],
    input[type=checkbox] {
        width: auto;
        margin-left: 0;
    }

    &.odd {
        clear: left;
    }

    &.charitable-form-field-checkbox {
        input[type=checkbox] {
            display: inline;
            height: auto;
        }
        label {
            display: inline;
            padding-left: 4px;
        }
    }

    &.charitable-radio-list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li {
            list-style: none;
            margin: 0 20px 0 0;
            display: inline-block;
            line-height: 1em;
        }
    }

    &.charitable-form-field-multi-checkbox {
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li {
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }

    .wp-media-buttons {
        margin-bottom: 0.5em;
    }

    .wp-editor-container {
        border: 1px solid #dedede;
    }
}

.charitable-fieldset,
.charitable-fieldset-field-wrapper {
    > :last-child {
        margin-bottom: 1em
    }
}

.charitable-radio-list,
.charitable-checkbox-list {
    label {
        display: inline;
    }
}

.charitable-submit-field {
    .button {
        font-size: 1em;
        line-height: 1.5em;
    }
}

.charitable-form-content {
    margin-bottom: 1em;
}

.charitable-gateway-fields {
    padding-top: 1em;
}

#charitable_field_cc_cvc {
    max-width: 180px;

    @include bp( 768 ) {
        float: left;
        width: 33%;
    }
}

#charitable_field_cc_expiration {
    @include bp( 768 ) {
        float: left;
        width: 63%;
        margin-left: 4%;
        clear: none;
    }

    .charitable-fieldset-field-header {
        font-weight: normal;
    }

    fieldset > *:not(.charitable-fieldset-field-header) {
        float: left;
        width: 49%;
        max-width: 140px;
    }

    .year {
        margin-left: 2%;
    }
}

.charitable-form-fields {
    .charitable-fieldset {
        margin: 0 0 1em;
        padding: 1.5em 20px 0.5em;
        border: 1px solid #ebebeb;
    }

    .charitable-fieldset-field-wrapper {
        margin: 0;
        padding: 0;
        border: none;

        .charitable-fieldset-field-header {
            margin-bottom: 4px;
            font-weight: bold;
        }
    }
}

.charitable-form-header {
    margin: 0 0 1em;
    font-size: 1.2em;
    font-weight: bolder;
}

.charitable-repeatable-form-field-table {
    margin-bottom: 1em;
}

.charitable-donation-form {
    padding-top: 1em;

    .donation-amounts {
        @include clearfix;
        margin: 0 0 1em;
        padding: 0;
        list-style: none;

        .donation-amount {
            position: relative;
            float: left;
            width: 49%;
            margin: 0 2% 0.5em 0;
            border: 1px solid #ddd;
            background-color: transparent;
            list-style: none;

            .custom-donation-amount-wrapper,
            > label {
                display: block;
                width: 100%;
                padding: 0.5em 1em;
                margin: 0;
                font-size: 1em;
                cursor: pointer;
            }

            .amount {
                font-weight: bolder;
            }

            &:nth-child( 2n+2 ) {
                margin-right: 0;
            }

            input[type=radio] {
                margin: 0 6px 0 0;
                vertical-align: middle;
            }
        }

        .donation-amount.selected {
            color: #fff;
        }

        @media screen and (max-width: 37.5em) {
            .donation-amount {
                float: none;
                width: 100%;
                margin-right: 0;
            }
        }
    }

    .custom-donation-input {
        max-width: 100%;
    }
}

#charitable-donor-fields {
    // Fixes common issue with themes that float form fields,
    // resulting in weird placement of anonymous donations and
    // newsletter fields.
    > .charitable-form-field,
    .charitable-form-fields > .charitable-form-field {
        clear: both;
        padding: 0 20px;
    }
}

.widget_charitable_donate_widget {
    #charitable-donation-amount-form {
        padding-top: 0;
        .donation-amounts {
            .donation-amount {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

.charitable-hidden {
    @include hidden();
}

.charitable-form-field-donor-fields {
    .charitable-login-details {
        padding-top: 1em;
    }
}

#charitable-donor-fields {
    padding: 1.5em 0 0.5em;

    .charitable-form-header {
        padding: 0 20px;
    }
}

.charitable-donor-details {
    padding: 0 20px 1em;

    .donor-address,
    .donor-contact-details {
        margin-bottom: 0.5em;
    }

    .charitable-change-user-details {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

#charitable-user-fields,
#charitable-meta-fields {
    padding: 0 20px;
}

#charitable-meta-fields {
    padding-top: 1.5em;
    margin-top: 1.5em;
    border-top: 1px solid #ebebeb;
}

.charitable-terms-text {
    border: 1px solid #ebebeb;
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 1em;
    max-height: 200px;
    overflow: scroll;
    display: none;

    &.active {
        display: block;
    }
}

#login-prompt {
    margin-bottom: 4px;
}

.charitable-login-form {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ebebeb;

    label {
        display: block;
        margin-bottom: 4px;
    }

    > p,
    .login-username,
    .login-password,
    .login-remember {
        margin-bottom: 1em;
        padding-bottom: 0;
    }

    .login-submit {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.js .charitable-donation-form {
    .donation-amount input[type=radio] {
        display: none;
    }
}