.ui-datepicker {    
    padding: 1em;
    border: 1px solid #dedede;
    font-size: 1em;
    background-color: #fff;

    a {
        cursor: pointer;
    }
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;

    select {
        margin-right: 4px;
    }
}

.ui-datepicker-calendar {
    td, th {
        padding: 4px;
    }    
}